<%- include('header.ejs') %>

    <main>

        <h2 class="main-header"><%= pageTitle %></h2>

        <%- include('filter.ejs') %>

        <%- include('error.ejs') %>

        <%- include('list.ejs') %>
    </main>

<%- include('footer.ejs') %>
